<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book notes</title>

    <link rel="stylesheet" href="/styles/custom.css">
</head>
<body>
    <main>
    <nav class="navbar navbar-expand-sm nav-footer">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="/">Book Keeper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navifgation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav me-auto mb-2 mb-sm-0">
                    <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                </div>
                <% if(!locals.hideSearch) {%>
                    <form class="d-flex" method="get" action="/search">
                        <input class="form-control me-2" type="search" name="searchTxt" placeholder="Search for book" aria-label="Search">
                        <button class="btn search-btn" type="submit">Search</button>
                    </form>
                <% } %>
            </div>
        </div>
    </nav>